div {
    font-family: 'Gill Sans', 'Gill Sans MT', Calibri, 'Trebuchet MS', sans-serif;
    color:crimson;
}

span
            {
                background-color: 
                indigo;
                -webkit-text-fill-color: antiquewhite;
                font-size: large;
            }

.myClass{
    font-size: x-large;
    color: darkred;
    font-weight: bolder;
}

#myID{
    font-size: xx-large;
    font-family: Cambria, Cochin, Georgia, Times, 'Times New Roman', serif ;
    color: brown;
}
  input[required]:placeholder-shown {
    border-color: var(--clr-primary);
    background-color: red;
  }
  
  
  :root {
    --clr-primary: #ee6352;
    --clr-body: #333;
    --clr-bg: #ddd;
  }
  
  

  